{"welcome_caption":"🤖 Bienvenue sur le BOT!\n\n📲 Commandez via notre Mini App /start 👈","infos_text":"Informations à configurer","contact_text":"@votrecontact","order_link":"","order_telegram_username":"votrecontact","contact_link":"","admin_ids":[7832621973,8297042141],"miniapp_label":"MiniApp","miniapp_url":"","whatsapp_url":"","instagram_url":"","potato_url":"","telegram_channel_url":"","instagram_backup_url":"","bots_url":"","linktree_url":"","hidden_buttons":[],"custom_buttons":[],"instagram_backup2_url":""}
