@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import 'simplebar-react/dist/simplebar.min.css';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  overflow-x: hidden !important;
  max-width: 100vw;
  padding-right: 0 !important;
}

* {
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
  max-width: 100vw;
}
